.sin{
        outline: none;
        background-color: #ffff;
        border: 0;  
        
      }

      .card-text{
        resize: none;
        outline: none;
        background-color: #ffff;
        border: 0;
        overflow: auto;
        width: 100%;
      }

