

.navbar {
background: #57FFC7;
}
    
     
      .sin{
        outline: none;
        background-color: #ffff;
        border: 0;
        width: 100%;
      }  
/*       textarea{
        resize: none;
        outline: none;
        background-color: #ffff;
        border: 0;
        overflow: auto;
        width: 100%;
      } */

      .card-text{
        resize: none;
        outline: none;
        background-color: #ffff;
        border: 0;
        overflow: auto;
        width: 100%;
      }