.hiden {
  display: none;
}

.show {
  display: block;
}

#login, #bd {
  margin: 20px;
}
/* Social Login Buttons */

[class^="icon-btn"] /*.icon-btn*/ {
	height: 75px;
	width: 75px;
	border: 0;
	color: #fff;
	cursor: pointer;
	font-size: 40px;
	line-height: 75px;
	transition: ease-in-out .3s;
	border-radius: 50px;
	margin-left: 10px;
	background-color: #fff;
}


.facebook {
	color: #3B5998;
}
.google-plus {
	color: #DB5A3C;
}


.icon-btn:hover {
	transform: scale(1.10);	
	color: #FFFFFF;
}

.facebook:hover {
	background-color: #3B5998;	
}
.google-plus:hover {
	background-color: #DB5A3C;	
}

a.link {
	color: inherit;	
}
